{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="sub-text">
            Start your AI Career Journey
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Create your Password" required>
            <p class="sub-text">Use the 6 digit characters</p>
            <button type="submit">Sign up</button>
        </form>
        <p class="Switch-auth">
            Already have a account? <a href="/login">Login</a>
        </p>
    </div>
</div>
{% endblock %}